############################
# ARCHIVOS GENERALES
############################

HELP.md
.DS_Store
Thumbs.db

############################
# MAVEN / SPRING BOOT
############################

target/
.mvn/wrapper/maven-wrapper.jar

# Mantener target si está adentro de src
!**/src/main/**/target/
!**/src/test/**/target/

logs/
*.log
*.pid

############################
# IntelliJ IDEA
############################

.idea/
*.iws
*.iml
*.ipr
out/

############################
# VS CODE
############################

.vscode/

############################
# NETBEANS
############################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# ECLIPSE / STS
############################

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

############################
# JAVA
############################

*.class
*.jar
*.war
*.ear

############################
# NODE (por si usas herramientas front)
############################

node_modules/

############################
# OTROS
############################

*.swp
*.tmp
